@{
    ViewBag.Title = "Home Page";
}

<div id="divMain" class="container _inicioSesion">

    <div class="tab-content">
        <div id="formInicioSesion" class="container">

            <div class="row mt-4">

                <form id="formInicioSesion" class="col-md formulario">

                    <h3 class="form-label mb-4 row">
                        Inicio de sesión
                    </h3>

                    <div class="form-outline">
                        <label for="txtUser">Usuario:</label>
                        <input placeholder="PedroPablo@gmail.com" type="email" class="form-control border-success" id="txtUser" name="user" autocomplete="off" required>
                    </div>

                    <div class="form-outline">
                        <label for="txtClave">Contraseña:</label>
                        <input placeholder="pedropablo123" type="password" class="form-control border-success" id="txtClave" name="clave" autocomplete="off" required>
                    </div>


                    <button type="submit" onclick="IniciarSesion()" class="btn btn-outline-primary btn-sm m-2" form="#formInicioSesion">
                        <i class="bi bi-house-door"></i> Iniciar sesión
                    </button>

                    @*<button class="btn btn-outline-dark btn-sm">
                        <i class="bi bi-key"></i> Restablecer contraseña
                    </button>*@

                </form>
            </div>
        </div>
    </div>
</div>

<script>

</script>

@section scripts{

    <script>

        function IniciarSesion() {

            var $data = {
                oUsuario:{
                    us_email: $("#txtUser").val(),
                    us_password: $("#txtClave").val(),
                }

            }

            jQuery.ajax({
                url: "@Url.Action("ValidarIngreso", "Home")",
                type: "POST",
                data: JSON.stringify($data),
                dataType: "json",
                contentType: "application/json; charset=utf- 8",
                success: function (data) {
                    $("#divMain").LoadingOverlay("hide");

                    switch (data) {
                        case 1:
                            document.location.href = "@Url.Content("~/Instructor/InstructorIndex")"
                            break
                        case 2:
                            document.location.href = "@Url.Content("~/Coordinador/CoordinadorIndex")"
                            break
                    }
                }, 
                error: function (error) {
                    $("#divMain").LoadingOverlay("hide");
                    swal("Error ajax!");

                },
                beforeSend: function () {
                    // Let's call it 2 times just for fun...
                    $("#divMain").LoadingOverlay("show", {
                        background: "rgba(165, 190, 100, 0.5)",
                        imageResizeFactor: 2,
                        text: "Cargando...",
                        size:14
                    });
                    
                }
                
            })

            Clear();
        }

        function Clear() {
            $("#txtUser").val("");
            $("#txtClave").val("");
        }

    </script>

}
