
@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container _inicioSesion">

    <div class="tab-content">
        <div id="formInicioSesion" class="container">

            <div class="row mt-4">

                <div class="text-formulario">
                    <h3 class="form-label mb-4 row">
                        Registro de usuario
                    </h3>

                </div>
                
                <div class="contenedor-formulario">
                    <form id="formInicioRegistro" class="col-md formulario-registro">

                        <div class="grupo-formulario">
                            <label for="txtente">Número de identificación:</label>
                            <input type="number" class="form-control border-success" id="txtNid" name="txtNid" autocomplete="off" required>
                        </div>

                        <div class="grupo-formulario">
                            <label for="txtente">Nombre:</label>
                            <input type="text" class="form-control border-success" id="txtName" name="txtName" autocomplete="off" required>
                        </div>

                        <div class="grupo-formulario">
                            <label for="txtente">Apellido:</label>
                            <input type="text" class="form-control border-success" id="txtLastName" name="txtLastName" autocomplete="off" required>
                        </div>

                        <div class="grupo-formulario">
                            <label for="txtente">Correo electrónico:</label>
                            <input type="email" class="form-control border-success" id="txtEmail" name="txtEmail" autocomplete="off" required>
                        </div>

                        <div class="grupo-formulario">
                            <label for="txtente">Telefono:</label>
                            <input type="number" class="form-control border-success" id="txtPhone" name="txtPhone" autocomplete="off" required>
                        </div>

                    </form>
                    <div class="container-fluid grupo-formulario grupo-formulario-botones">
                        <button id="btnRegistrar" form="formInicioRegistro" type="submit" class="btn btn-outline-success btn-sm">
                            <i class="bi bi-file-earmark-check"></i> Registrar
                        </button>
                        <button id="btnCancelar" type="button" onclick="Clear()" class="btn btn-outline-danger btn-sm">
                            <i class="bi bi-trash"></i> Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{

    <script>

        $("#btnRegistrar").click(function (event) {
            event.preventDefault();

            /* Objeto que pasa ha la informacion de la vista al controlador */
            var $data = {
                obj: {
                    us_nid: parseInt($("#txtNid").val()),
                    us_password: $("#txtNid").val(),
                    us_name: $("#txtName").val(),
                    us_lastname: $("#txtLastName").val(),
                    us_email: $("#txtEmail").val(),
                    us_phone: parseInt($("#txtPhone").val()),
                }

            }

            jQuery.ajax({
                url: "@Url.Action("SaveUser", "Home")",
                type: "POST",
                data: JSON.stringify($data),
                dataType: "json",
                contentType: "application/json; charset=utf- 8",
                success: function (data) {
                    $("._inicioSesion").LoadingOverlay("hide");
                    
                    if (data.result > 0) {
                        /* Mensaje que saldrá si la opracion es exitosa */
                        swal({
                            title: "Operación exitosa!",
                            text: "A su correo electrónico ha llegado la información de inicio de sesión",
                            type: "success",
                            confirmButtonClass: "btn-success",
                            confirmButtonText: "Ok",
                            closeOnConfirm: true
                        }, /* Redirecciona a login */
                            function () {
                                document.location.href = "@Url.Content("~/Home/Index")"
                            });

                        /* Limpia los campos de texto */
                        Clear();
                    } else {
                        swal("Ups!", data.mensaje, "error");
                        console.log(data);
                    }
                },
                error: function (error) {
                    console.log(error);
                    $("._inicioSesion").LoadingOverlay("hide");
                    swal("Ups!", "Error de ajax :)", "error");
                },
                beforeSend: function () {
                    // Let's call it 2 times just for fun...
                    $("._inicioSesion").LoadingOverlay("show", {
                        background: "rgba(165, 190, 100, 0.5)",
                        imageResizeFactor: 2,
                        text: "Espere...",
                        size: 14
                    });

                }
            })
        });

        function Clear() {
            $("#txtNid").val("");
            $("#txtNid").val("");
            $("#txtName").val("");
            $("#txtLastName").val("");
            $("#txtEmail").val("");
            $("#txtPhone").val("");
        }

    </script>

}
