
@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container _inicioSesion">

    <div class="tab-content">
        <div id="formInicioSesion" class="container">

            <div class="row mt-4">

                <div class="text-formulario">
                    <h3 class="form-label mb-4 row">
                        Registro de usuario
                    </h3>

                </div>

                <div class="contenedor-formulario">
                    <form id="formInicioRegistro" class="col-md formulario-registro">

                        <div class="grupo-formulario">
                            <label for="txtente">Número de identificación:</label>
                            <input type="text" class="form-control border-success" id="txtNid" name="txtNid">
                        </div>

                        <div class="grupo-formulario">
                            <label for="txtente">Nombre:</label>
                            <input type="text" class="form-control border-success" id="txtName" name="txtName">
                        </div>

                        <div class="grupo-formulario">
                            <label for="txtente">Apellido:</label>
                            <input type="text" class="form-control border-success" id="txtLastName" name="txtLastName">
                        </div>

                        <div class="grupo-formulario">
                            <label for="txtente">Correo electrónico:</label>
                            <input type="text" class="form-control border-success" id="txtEmail" name="txtEmail">
                        </div>

                        <div class="grupo-formulario">
                            <label for="txtente">Telefono:</label>
                            <input type="text" class="form-control border-success" id="txtPhone" name="txtPhone">
                        </div>

                    </form>
                    <div class="container-fluid grupo-formulario grupo-formulario-botones">
                        <button id="btnRegistrar" form="formInicioRegistro" type="button" onclick="Registrar()" class="btn btn-outline-success btn-sm">
                            <i class="bi bi-file-earmark-check"></i> Registrar
                        </button>
                        <button id="btnCancelar" type="button" class="btn btn-outline-danger btn-sm">
                            <i class="bi bi-trash"></i> Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{

    <script>

        function Registrar() {

            var $data = {
                oUsuario:{
                    us_nid: parseInt($("#txtNid").val()),
                    us_password: $("#txtNid").val(),
                    us_name: $("#txtName").val(),
                    us_lastname: $("#txtLastName").val(),
                    us_email: $("#txtEmail").val(),
                    us_phone: parseInt($("#txtPhone").val()),
                }

            }

            console.log($data);

            jQuery.ajax({
                url: "@Url.Action("RegistrarInstructor", "Home")",
                type: "POST",
                data: JSON.stringify($data),
                dataType: "json",
                contentType: "application/json; charset=utf- 8",
                success: function (data) {
                    if (data.resultado) {
                        alert("Registro Exitoso")
                    } else {
                        alert("No se pudo guardar los cambios")
                    }
                }
            })
        }

    </script>

}
