
@{
    ViewBag.Title = "Solicitud";
    Layout = "~/Views/Shared/_Coordinador.cshtml";
}

<div class="card mt-3">
    <div class=" container-fluid text-center">
        <div class="_divRow row">
            <div class="_divCol col-10 text-center d-flex flex-column">
                <br />
                <label>SERVICIO NACIONAL DE APRENDIZAJE</label>
                <label>REGIONAL BOLÍVAR</label>
                <label>CENTRO PARA LA INDUSTRIA PETROQUÍMICA</label>
                <br />
            </div>
            <div class="_div col-2 ">

            </div>
        </div>
        <div class="_divRow row">
            <label class="card-title mt-1"><strong>FORMACION COMPLEMENTARIA</strong></label>
        </div>

    </div>
    <div class="container-fluid _divRow-cierre">
        @*  Primera fila*@
        <div class="_divRow row">
            <label class="_divCol col-6">
                NOMBRE DEL INSTRUCTOR:
            </label>
            <label class="_divCol col-3">
                CC:
            </label>
            <label class="_divCol col-3">
                FECHA INICIO:
            </label>
        </div>

        @*  Segunda fila*@
        <div class="_divRow row">
            <label class="_divCol col-6">
                <label>CORREO ELECTRONICO:  </label>
            </label>
            <label class="_divCol col-3">
                TEL:
            </label>
            <label class="_divCol col-3">
                FECHA TERMINACION:
            </label>
        </div>

        @*  Tercera fila*@
        <div class="_divRow row">
            <label class="_divCol col-6">
                <label>PROGRAMA DE FORMACIÓN: </label>
            </label>
            <label class="_divCol col-4">
                CODIGO:
            </label>
            <label class="_divCol col-2">
                VERSION:
            </label>
        </div>

        @*  Cuarta fila*@
        <div class="_divRow row">
            <label class="_divCol col-6">
                <label>AMBIENTE DE APRENDIZAJE: </label>
            </label>
            <label class="_divCol col-4">
                MUNICIPIO:
            </label>
            <label class="_divCol col-2">
                DURACION:
            </label>
        </div>

        @*  Quinta fila*@
        <div class="_divRow row">
            <label class="_divCol col-6">
                <label>PROGRAMA ESPECIAL: </label>
            </label>
            <label class="_divCol col-6">
                OBSERVACION:
            </label>
        </div>

        @*  Sexta fila*@
        <div class="_divRow row">
            <label class="_divCol col-6">
                TIPO DE SOLICITUD: 
            </label>
            <label class="_divCol col-4">
                EMPRESA:
            </label>
            <label class="_divCol col-2">
                CUPO MAXIMO: 30
            </label>
        </div>

        @*  Septima fila*@
        <div class="_divRow row text-center">
            <label class="col">
                DIAS DE EJECUCION DEL PROGRAMA 
            </label>
            <label class="col">
                Lunes-Martes-Miercoles-Jueves-Viernes-sabado
            </label>
        </div>
    </div>

</div>

